<link rel="shortcut icon" type="image/ico"
  href="/assets/uswds/img/favicons/favicon.ico">

<link rel="icon" type="image/png"
  href="/assets/uswds/img/favicons/favicon.png">

<link rel="icon" type="image/png"
  sizes="192x192"
  href="/assets/uswds/img/favicons/favicon-192.png">

<link rel="apple-touch-icon-precomposed" type=""
  href="/assets/uswds/img/favicons/favicon-57.png">

<link rel="apple-touch-icon-precomposed" type=""
  sizes="72x72"
  href="/assets/uswds/img/favicons/favicon-72.png">

<link rel="apple-touch-icon-precomposed" type=""
  sizes="114x114"
  href="/assets/uswds/img/favicons/favicon-114.png">

<link rel="apple-touch-icon-precomposed" type=""
  sizes="144x144"
  href="/assets/uswds/img/favicons/favicon-144.png">
